body{
    margin: 0px 100px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ffffff;

}
/* nav */
.nav{
    margin: 0px 100px;
    background-color: #a5ffe7;
    border-radius: 25px;
}

/* header */
.header{
    font-size: 20px;
    color: #262525;
    margin-bottom: 10px;
    font-weight: bold;

}


 .model{
    color: #aba1a1;
 }

/* button */
.button{
    color: #006A50;
    -webkit-text-fill-color: #f7ffff;
    border-radius: 10px;
    
}
.button{
    background-color: #005941;

    width: 270px;
    height: 56px;
    font-weight: 300;
    font-size: 18px;
    color: rgba(255, 255, 255, 1.00);
}
/* banner */
.banner{
    display: flex;
   
}

.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 24px;
    color: #5b5757;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 56px;
}
.banner-pro-pic{
    width: 480px;
}
.digital{
box-sizing: border-box;
padding: 5px;
border-radius: 16px;
width:auto;
height: auto;
background: rgba(84, 144, 245, 0.2);


}
.image{
position: absolute;
width: 49.66px;
height: 53.09px;
left: 13.34px;
top: 1px;
}
/* section */
.section{
    background-color: white;
    height: 1280px;
    width: 765px;
}