.{
    margin: 0;
    padding: 0;
  }
  body {
      margin: 10px;
      padding: 20px;
      background-color: #f7fbfa; 
     
    }
    .banner{
      display: flex;
    }
    .banner {
      text-align: left;
      margin: 80px 160px 20px 20px ;
      padding: 40px;
      background-color: #e8f7f0; 
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
      height: auto; 
      position: relative; 
    }
  
  
    
    .header {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.404);
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    .title {
      font-size: 35px;
      line-height: 1.5;
      color: black;
      margin: 15px ;
      margin-right: 220px;
    }
    
    .btn {
      background-color: #007f5f;
      color: white;
      padding: 15px 10px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
      margin-top: 45px;
    }
    
    .btn:hover {
      background-color: #005941;
    }
    
    .section-description{
      color: rgba(14, 14, 14, 0.7);
  }
  /* skills section */
  .skills-container{
      display: flex;
      gap: 24px;
      padding: 32px;
      border-radius: 5px;
     
  }
  .skill{
      padding: 32px;
      border-radius: 5px;
      box-shadow:0px 6px 30px 0px rgb(211, 216, 223);
     
  
  }
  main section{
      margin-top: 130px;
      margin-bottom: 130px;
  }
  /* satalight */
  .satalight  { 
    display: flex;
    gap: 40px;
    padding: 32px;
    border-radius: 5px;
    box-shadow:0px 6px 30px 0px rgb(211, 216, 223);
    text-align: left;
  }
.bb{
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
    color: black;
    margin: 15px ;
    
}
.satalight2{
    display: flex;

    gap: 40px;
     padding: 32px;
     border-radius: 5px;
     box-shadow:0px 6px 30px 0px rgb(211, 216, 223);
     text-align: left;
   }
   .parents{
    display: flex;
    justify-content: space-around;
    gap: 24;
    padding: 40px;

   }
   .child{
    border: 2px solid rgb(237, 232, 232);
    padding: 20px;
    font-size: 18px;
    margin: 10px 0;
    display: inline;
    gap: 20PX;
   }
   .donate{
    text-align: center;
    gap: 10px;
   }
   .form{
    margin: 10px;
     padding: 20px 40px 20px 40px;
    background-color: #d6e4e1;
   }