.{
    margin: 0;
    padding: 0;
  }
  body {
      margin: 10px;
      padding: 20px;
      background-color: #f7fbfa; 
     
    }
    .banner{
      display: flex;
    }
    .banner {
      text-align: left;
      margin: 80px 160px 20px 20px ;
      padding: 40px;
      background-color: #e8f7f0; 
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
      height: auto; 
      position: relative; 
    }
  
  
    
    .header {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.404);
      margin-bottom: 10px;
      font-weight: bold;
    }
    
    .title {
      font-size: 35px;
      line-height: 1.5;
      color: black;
      margin: 15px ;
      margin-right: 220px;
    }
    
    .btn {
      background-color: rgb(0, 106, 80);
      color: white;
      padding: 17px 34px 17px 34px;
      border: none;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
      margin-top: 45px;
    }
    
    .btn:hover {
      background-color: #005941;
    }
    
    .section-description{
      color: rgba(14, 14, 14, 0.7);
  }
  /* skills section */
  .skills-container{
      display: flex;
      gap: 24px;
      padding: 32px;
      border-radius: 5px;
     
  }
  .skill{
      padding: 32px;
      border-radius: 5px;
      box-shadow:0px 6px 30px 0px rgb(211, 216, 223);
     
  
  }
  main section{
      margin-top: 130px;
      margin-bottom: 130px;
  }
  /* satalight */
  .satalight  { 
    display: flex;
    gap: 40px;
    padding: 32px;
    border-radius: 5px;
    box-shadow:0px 6px 30px 0px rgb(211, 216, 223);
    text-align: left;
  }
.bb{
    font-weight: bold;
    font-size: 32px;
    line-height: 1.5;
    color: black;
    margin: 15px ;
    
}
.para{
  color: rgba(14, 14, 14, 0.7);
}
.satalight2{
    display: flex;

    gap: 40px;
     padding: 32px;
     border-radius: 5px;
     box-shadow:0px 6px 30px 0px rgb(211, 216, 223);
     text-align: left;
   }
   .parents{
    display: flex;
    justify-content: space-around;
    gap: 24;
    padding: 40px;

   }
   .child{
    border: 2px solid rgb(237, 232, 232);
    padding: 20px;
    font-size: 18px;
    margin: 10px 0;
    display: inline;
    gap: 20PX;
   }
   .donate{
    text-align: center;
    gap: 32px;
   }
   .form{
    margin: 15px;
    padding: 20px 40px 20px 40px;
    background-color: #d6e4e1;
   }
/* PARENT & CHILD */
.btn-container{
  Width: 1071pxpx
  Height: 128pxpx
  Top: 152pxpx
  Left: 104.5pxpx
  Fillet radius: 0px
  Layout padding: 0px, 0px, 0px, 0px
  Layout distribution: Concentrated distribution
  Layer mode :Pass through
  
}
/* last work */
.subcribe-box{
  background-color: rgb(198,228,214);
  border-radius: 24px;
  width: 1280px;
  height: 325px;
  align-items: center;
  padding: 80px 100px 80px 100px;
  margin: 80px 0px;
}
.description-donate{
  text-align: center;

}
.subcribe{
  display: flex;
  justify-content: none;
}
.email-box{
  text-align: center;
  Width: 600pxpx
  Height: 55pxpx
  Top: 0pxpx
  Left: 0pxpx
  Fillet radius: 8px,0px,0px,8px
  Layout padding: 18px, 40px, 18px, 40px
  
 
}

.btn-primary1{
  width: 150px;
  height: 56px;
  background-color: rgb(0, 106, 80);
  text-align: center;
}

/* challenges */
.total{
position: static;
width: 1280px;
height: 256px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 48px 24px 48px 24px;
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 24px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
}
.lorem{
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.Yunus{
position: static;
width: 1232px;
height: 52px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 4;
padding: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 12px 0px;
}

.sing{
display: flex;
justify-content: space-between;
align-items: center;
padding: 24px 160px 24px 160px;
background: rgb(245, 245, 245);

}
.sss{
box-sizing: border-box;
border: 2px solid rgb(0, 106, 80);
border-radius: 5px;



}